// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark_grey: #2f3e51;
$white: #ffffff;

.chat{
  &__side{
    height: 1000px;
    padding: 0 !important;
    &__user{
      padding: 0 20px;
      background-color: black;
      height: 20%;
      h5{
        padding-top: 100px;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
      }
      &__icon{
        display: inline-block;
        margin-left: 100px;
        a{
          i{
            color: $white;
          }
        }
      }
    }
    &__group{
      padding: 0 20px;
      background-color: $dark_grey;
      height: 80%;
      ul{
        padding-top: 40px;
        li{
          a{
            p{

            }
          }
        }
      }
      &__link{
        background-color: red;
        font-size: 16px;
      }
    }
  }

  &__main{
    height: 1000px;
    background-color: white;
    padding: 0 !important;

    &__group-info{
      height: 20%;
      background-color: $white;
      padding-left: 12px;
      border-bottom: medium solid #eeeeee;

      h4{
        font-size: 20px;
        color: #333333;
        padding: 35px 0 15px 0;
      }
    }

    &__messages{
      height: 60%;
      background-color: white;
      padding-top: 46px;
      padding-left: 40px;
      ul{

        li{
          padding-bottom: 40px;
          .chat-message__header{
            padding-bottom: 10px;
            h4{
              display: inline;
              font-size: 16px;
              font-weight: bold;
              color: #434A54;
            }
            p{
              display: inline;
              padding-left: 10px;
              font-size: 12px;
              color: #999999;
            }
          }
          .chat-messages__body{
            p{
              font-size: 14px;
              color: #434A54;
            }
          }
        }
      }
    }

    &__send{
      height: 20%;
      background-color: red;
    }
  }
}
